.venv/
__pycache__/
*.pyc
.env
data/raw/
*.ckpt
.embeddings_cache/
.ipynb_checkpoints/
.DS_Storedata/eval/UpdatedResumeDataSet.csv
data/eval/resumes.csv
sanity_run.py
data/eval/UpdatedResumeDataSet.csv
data/eval/UpdatedResumeDataSet.csv
